<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8" />
	<title>FACE DESIGN</title>
	<meta name="description" content="FACE DESIGN" />
	<link rel="stylesheet" type="text/css" href="assets/css/reset.css">
	<link rel="stylesheet" type="text/css" href="assets/css/common.css">
	<link rel="stylesheet" type="text/css" href="assets/css/index.css">
</head>
<body>
	<div class="header-wrap">
		<div class="header vw clearfix">
			<h1 class="logo"><a href="./index.html">FACE DESIGN</a></h1>
			<div class="nav">
				<p class="telphone">400-036-3651</p>
				<div class="clear"></div>
				<ol class="menus clearfix">
					<li class="on"><a href="./index.html">WORKS</a></li>
					<li><a href="./services.html">SERVICES</a></li>
					<li><a href="./about.html">ABOUT</a></li>
					<li><a href="./contact.html">CONTACT</a></li>
				</ol>
			</div>
		</div>
		<div class="banner vw">
			<img src="assets/img/index-img-switch.png" alt="FACE DESIGN" />
		</div>
	</div>
	<div class="content vw" id="case-list">
		<img src="assets/img/brand-innovation.png" alt="品牌创新永不止步" />
		<a href="./case.html"><img src="assets/img/cases/product-1.png" /></a>
		<a href="./case.html" class="fr"><img src="assets/img/cases/product-2.png" /></a>
		<a href="./case.html"><img src="assets/img/cases/product-3.png" /></a>
		<a href="./case.html" class="fr"><img src="assets/img/cases/product-4.png" /></a>
		<a href="./case.html"><img src="assets/img/cases/product-5.png" /></a>
		<a href="./case.html"><img src="assets/img/cases/product-6.png" /></a>
	</div>
	<div class="prd-action vw clearfix">
		<a href="javascript:void(0);" class="reduce-case">减少更多案例</a>
		<a href="javascript:void(0);" class="increase-case fr">增加更多案例</a>
	</div>
	<div class="footer vw">
		<p>Email: <a href="mailto: sales@face-design.com.cn">sales@face-design.com.cn</a></p>
		<p>Tel: 4000 363651</p>
		<p>Fax: +86 21 3636365</p>
		<p>All contents Copyright &copy; 2014 www.face-design.com.cn </p>
	</div>
	<script type="text/template" id="tpl-case-list">
		<% for (var i = 0; i < caseList.length; i++) { %>
			<a href="<%= caseList[i].url %>" class="<%= (i === 3 ? 'fr' : '') %>"><img src="assets/img/cases/<%= caseList[i].imgName %>.png" /></a>
		<% } %>
	</script>
	<script type="text/javascript" src="assets/js/lib/jquery-1.11.0.min.js"></script>
	<script type="text/javascript" src="assets/js/lib/micro-tpl.js"></script>
	<script type="text/javascript" src="assets/js/index.js"></script>
</body>
</html>
