.fl {
	float: left;
}

.fr {
	float: right;
}

.clearfix {
	*zoom: 1;
}

.clearfix:before,
.clearfix:after {
	display: table;
	line-height: 0;
	content: "";
}

.clearfix:after {
	clear: both;
}

.mb10 {
	margin-bottom: 10px;
}

ul, ol {
	list-style: none;
}

a {
	text-decoration: none;
	outline: none;
}

body {
	font: normal 14px Arial, "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
}

.header-wrap {
	width: 100%;
	background-color: #1b8686;
}

.vw {
	width: 1000px;
	margin: 0 auto;
	overflow: hidden;
}

.header {
	padding-top: 20px;
}

.logo {
	float: left;
}

.logo a {
	display: block;
	width: 119px;
	height: 73px;
	overflow: hidden;
	text-indent: -999px;
	background: url('../img/logo.png') no-repeat center center;
}

.nav {
	float: right;
}

.telphone {
	color: #313232;
	font-weight: bolder;
	font-size: 25px;
	text-align: right;
}

.menus li {
	float: left;
	padding: 0 15px;
	border-right: 2px solid #313232;
}

.menus li:last-child {
	border-right: none;
	padding-right: 0;
}

.menus li a {
	display: block;
	padding: 10px 0;
	font-size: 16px;
	color: #313232;
	font-weight: bolder;
}

.menus li.on a, .menus li a:hover {
	color: #ffffff;
	border-bottom: 2px solid #ffffff;
}

.footer {
	margin-top: 15px;
	padding: 10px 0 20px 0;
	border-top: 2px dotted #7c7b7b;
	background: url('../img/two-dimension-code.png') no-repeat right center;
}

.footer p {
	color: #343130;
	line-height: 26px;
}

.footer p a {
	color: #343130;
}

.footer p a:hover {
	color: #1b8686;
}


